*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

:root {
    --p1color: red;
    --p2color: blue;
    --p3color: green;
    --p4color: black;
    --mapSize: 12;
    }

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------- */

#gameWindow {
    background-color: antiquewhite;
    height: 100%;
    aspect-ratio: 3.5/3;
}

#map{
    height: 90%; 
    aspect-ratio: 1;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(var(--mapSize), 1fr);
    grid-template-rows: repeat(var(--mapSize), 1fr);
    position: relative;
}

.player {
    position: absolute;
    aspect-ratio: 1;
    border-radius: 50%;
    transition: .3s ease-in-out;
}



#start {
    background-color: rgb(143, 149, 143);
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 12;
    grid-row-end: 12;

    border-top-right-radius: 2rem ;
    border-top-left-radius: 2rem ;
}

#topVillage {
    background-color: cyan;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 1;

    border-bottom-right-radius: 2rem ;
    border-bottom-left-radius: 2rem ;
}

#leftVillage {
    background-color: orange;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 9;

    border-top-right-radius: 2rem ;
    border-bottom-right-radius: 2rem ;
}

#rightVillage {
    background-color: rgb(36, 204, 36);
    grid-column-start: 12;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 9;

    border-top-left-radius: 2rem ;
    border-bottom-left-radius: 2rem ;
}


#dragon {
    background-color: red;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 8;

    border-radius: 2rem;
}



#actionWindow {
    flex: 1;
    background-color: aliceblue;
}

.tile {
    background-image: url(./media/tile.svg);
    background-position: center;
    background-size:cover ;
}