.moveController {
    height: 15rem;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.moveButtons {
    height: 100%;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 1rem;
}

.arrowButton {
    background-image: url(../media/arrow.svg);
    background-color: aliceblue;
    border-radius: 1.3rem;
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
    transition: .2s;
}



.north {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.west {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    transform: rotate(-90deg);
}

.east {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    transform: rotate(90deg);
}

.south {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end:3;
    transform: rotate(180deg);
}

.north:hover {
    transform: scale(1.1);
}
.west:hover {
    transform: scale(1.1)  rotate(-90deg);
}
.east:hover {
    transform: scale(1.1)  rotate(90deg);
}
.south:hover {
    transform: scale(1.1)  rotate(180deg);
}


.actionButton {
    width: 60%;
}

.endTurn, .fight {
    width: 50%;
    height: 4rem;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    background-color: grey;
}

.endTurn:hover {
    background-color: rgb(243, 97, 12);
}

.diceWindow {
    box-sizing: content-box;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    background-color: darkslategrey;
}

.die {
    height: 5rem;
    aspect-ratio: 1;
}

.die1 {
    background-image: url(../media/die1.svg);
}


.die2 {
    background-image: url(../media/die2.svg);
}


.die3 {
    background-image: url(../media/die3.svg);
}


.die4 {
    background-image: url(../media/die4.svg);
}


.die5 {
    background-image: url(../media/die5.svg);
}


.die6 {
    background-image: url(../media/die6.svg);
}

.light, 
.chest,
.mountainTile,
.dragonTile,
.villageTile {
    background-color: yellow;
    grid-column-end: span 1;
    grid-row-end:  span 1;
}

.chest {
    background-color: brown;
}

.mountainTile {
    background-color: orange;
}

.dragonTile {
    background-color: red;
}

.wVillage {
    background-color: seagreen;
}

.eVillage {
    background-color: greenyellow;
}

.nVillage {
    background-color: cyan;
}

.sVillage {
    background-color: gray;
}