.controlsWindow {
    display: flex;
    width: 100%;
    padding: 1rem;
    background-color: tomato;
}

.moveButtons {
    width: 30%;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.arrowButton {
    background-image: url(../media/arrow.svg);
    background-color: aliceblue;
    border-radius: 1.3rem;
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.north {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.west {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    transform: rotate(-90deg);
}

.east {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    transform: rotate(90deg);
}

.south {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    transform: rotate(180deg);
}

.north:hover {
    transform: scale(1.1);
}
.west:hover {
    transform: scale(1.1) rotate(-90deg);
}
.east:hover {
    transform: scale(1.1) rotate(90deg);
}
.south:hover {
    transform: scale(1.1) rotate(180deg);
}

/* ------------- */

.diceWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.diceDisplay,
.buttonDisplay {
    width: 100%;
    height: 50%;
}

.diceDisplay {
    height: 70%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    background-color: darkslategrey;
    padding: 0.5rem;
}

.die {
    height: 100%;
    aspect-ratio: 1;
    background-size: cover;
    background-position: center;
}

.die1 {
    background-image: url(../media/die1.svg);
}

.die2 {
    background-image: url(../media/die2.svg);
}

.die3 {
    background-image: url(../media/die3.svg);
}

.die4 {
    background-image: url(../media/die4.svg);
}

.die5 {
    background-image: url(../media/die5.svg);
}

.die6 {
    background-image: url(../media/die6.svg);
}

.buttonDisplay {
    display: flex;
    justify-content: center;
}

.actionButton,
.shopButton {
    height: 100%;
    width: 50%;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    font-size: 2.5rem;
    cursor: pointer;
}

.actionButton:hover,
.shopButton:hover {
    background-color: rgb(16, 16, 221);
    transform: scale(1.1);
}

.shopButton {
    display: none;
}
